# VIM
*.ll
*~
*.swp
*.swo
.*.marks
*.phi-cache

\#*
.*#

__pycache__
doc/.obsidian

dist
IsaREPL.egg-info
.idea
.trash
build
*.egg-info
secret.sh

# `pip install -e .` builds the _vecgather extension module in place.
Isabelle_Semantic_Embedding/_vecgather*.so
Isabelle_Semantic_Embedding/_vecgather*.pyd
